@media(max-width: 630px){
    .intro__line{
        max-width: 160px;
        height: 636px;
    }

    .line__nav{
        flex-direction: column;
    }

    .intro__titel{
        opacity: 0;
    }
@media(max-width: 630px){
    .intro__line{
        max-width: 160px;
        height: 636px;
    }

    .line__nav{
        flex-direction: column;
    }

    .intro__titel{
        opacity: 0;
    }
